{% extends 'base.html.twig' %}

{% block title %} Réservation de : {{ ad.title }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Effectuer une réservation pour l'annonce : <br> <em>{{ ad.title }}</em></h1>

        <p>Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.fullName }}</strong></p>

        {{ form_start(form) }}

        <div class="alert alert-info">
            <h4>Choisissez les dates d'arrivée et de départ pour votre réservation</h4>
            <hr>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
        </div>

        <div class="alert alert-dark">
            <h4>Montant total du séjour : <span id="amount"> 0 </span> &euro;</h4>
            <span class="badge badge-light">0 nuit(s)</span> à {{ ad.price | number_format(2, '.', ' ') }} &euro; par nuit
            <hr>

            <h4 class="mt-4">Commentaire</h4>
            {{ form_row(form.comment) }}
        </div>

        <p>Pour toutes autres questions, n'hésitez pas à nous contacter</p>
        <button type="submit" class="btn btn-success col-12">Valider votre réservation</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            const dateSelect = $('#booking_startDate, #booking_endDate');
            dateSelect.datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });

            dateSelect.on('change', calcAmount);
        });

        function calcAmount(){
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            if(startDate && endDate && startDate < endDate){
                const DAY_TIME =  24 * 60 * 60 * 1000;
                const interval = endDate.getTime() - startDate.getTime();
                const days = interval / DAY_TIME;
                const amount = days * {{ ad.price }};

                $('#days').text(days);
                $('#amount').text(amount.toLocaleString());
            }
        }
    </script>
{% endblock %}